/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;
}
h1 {
    font-size: 5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


// Specific CSS

.sketch {
  position: relative;
  margin: 10px;
}
