/**
 * Fonts
 * @-rules are used in CSS to convey metadata, conditional
 * information or other descriptive information
 */


@font-face {
 font-family: "firaMono";
   src:url("../font/FiraMono-Regular.ttf") format('truetype');
}

@font-face {
 font-family: "firaItalic";
   src:url("../font/firaSans/FiraSans-LightItalic.otf") format('opentype');
}

@font-face {
 font-family: "firaLight";
   src:url("../font/firaSans/FiraSans-Light.otf") format('opentype');
}

@font-face {
 font-family: "firaBold";
   src:url("../font/firaSans/FiraSans-Bold.otf") format('opentype');
}
