/**
 * CSS :
 *   selectorlist {
 *   property: value;
 *   [more property:value; pairs]
 *   }
 *
 *   REF : https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
 */


 body{
   font-family: firaLight;
   font-size: 1.2em;
   font-kerning: auto;
   line-height: 1.7em;
 }

 .body-main{
   position: relative;
   width: 100%;
   max-width: 960px;
   margin: 5px auto 6px auto;
   padding: 0 20px;
  padding-bottom: 30px;
   box-sizing: border-box;
 }


h1 {
  font-family: firaBold;
  font-size: 3.7em;
  color: blue;
  margin-bottom: 35px;
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    text-decoration: underline;
    text-underline-position: under;
}


img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 820px) {
  h1{
    font-size: 2.3em;
  }
}

@media (max-width: 640px) {
  h1{
    font-size: 1.7em;
  }
  body{
    font-size: 0.9em;
  }
}
